/* --------------------------------------- */
/* FONT SIZE */

/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* SPACING SYSTEM */

/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "TikTok Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 1;
}

.container {
  height: 100vh;
  max-width: 51.2rem;
  margin: 0 auto;
  position: relative;
}

.video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.header i:first-child {
  font-size: 2rem;
}

.header i:last-child {
  font-size: 2rem;
}

.main__nav {
  display: flex;
  gap: 2rem;
}

.main__nav .main__nav-link:link,
.main__nav .main__nav-link:visited {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.main__nav .main__nav-link:nth-child(1),
.main__nav .main__nav-link:nth-child(2) {
  color: #777;
}

.main__nav .main__nav-link:nth-child(2) {
  position: relative;
}

.main__nav .main__nav-link:nth-child(2)::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: red;
  position: absolute;
  top: -5px;
  right: -10px;
  opacity: 0.5;
  border-radius: 100px;
}

.main__nav .main__nav-link:nth-child(3) {
  position: relative;
}

.main__nav .main__nav-link:nth-child(3)::after {
  display: block;
  content: "";
  width: 20px;
  height: 3px;
  cursor: default;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  position: absolute;
  bottom: 20%;
  right: 2.4rem;
}

.sidebar__logo img {
  width: 100%;
  border-radius: 100px;
}

.sidebar__logo {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100px;
  border: 2px solid #fff;
  position: relative;
}

.sidebar__logo::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "+";
  height: 1.6rem;
  width: 1.6rem;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 100px;
}

.sidebar > div:not(.sidebar__logo) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.sidebar div i {
  font-size: 2.4rem;
}

.sidebar div span {
  font-size: 1.2rem;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__description {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-left: 1.6rem;
  position: relative;
  top: -2rem;
}

.footer__description h4 {
  font-size: 1.6rem;
}

.footer__description p {
  font-size: 1.4rem;
  line-height: 1.4;
}

.footer__description span {
  font-weight: 600;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1.2rem;
  background-color: #000;
}

.footer__nav-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.footer__nav-box i {
  font-size: 2rem;
  color: #777;
  position: relative;
}

.footer__nav-box:nth-child(4) i::after {
  display: block;
  content: "19";
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: red;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.footer__nav-box span {
  font-size: 1.2rem;
  color: #777;
  font-weight: 500;
}

.footer__nav-box .white-btn,
.footer__nav-box .white-btn + span {
  color: #fff;
  font-weight: 600;
}

.plus-btn {
  background-color: #fff;
  padding: 0.6rem 1.2rem;
  color: #000;
  font-weight: 600;
  font-size: 1.6rem;
  position: relative;
  border-radius: 9px;
  border-left: 4px solid #20d5ec;
  border-right: 5px solid #fe2c55;
}
